@page "/counter"
@inject Blazored.LocalStorage.ILocalStorageService _ls

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
	private int currentCount = 0;
	protected override async Task OnInitializedAsync()
	{
		if (await _ls.ContainKeyAsync("brojac"))
			currentCount = await _ls.GetItemAsync<int>("brojac");

	}

	private void IncrementCount()
	{
		currentCount++;
		_ls.SetItemAsync("brojac", currentCount);
	}
}
